name: Build and deploy backend

on:
  push:
    branches:
      - prod

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Login to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSSWORD}}

      - name: Build and push backend image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./docker/Dockerfile.http
          push: true
          tags: devnick10/docker-cicd-http:${{github.sha}}

      - name: Deploy to VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            sudo docker pull devnick10/docker-cicd-http:latest
            sudo docker stop docker-cicd-http || true
            sudo docker rm docker-cicd-http || true
            sudo docker run -e DATABASE_URL ${{secrets.DATABASE_URL}} -d --name http -p 3001:3001 devnick10/docker-cicd-http:latest
